@{
	ViewData["Title"] = "Home Page";
}

<script>

	// default select options
	leftSelectOptions = ["a", "b", "c", "d", "e"];
	rightSelectOptions = [];

	// on load populate the select boxes
	onload = function ()
	{
		// load left select
		if (localStorage.getItem("leftSelectOptions") !== null) {
			leftSelectOptions = JSON.parse(localStorage.getItem("leftSelectOptions"));
		}
		populateSelect(leftSelectOptions, "leftSelect");
		// load right select
		if (localStorage.getItem("rightSelectOptions") !== null) {
			rightSelectOptions = JSON.parse(localStorage.getItem("rightSelectOptions"));
		}
		populateSelect(rightSelectOptions, "rightSelect");
		
	}
	function populateSelect(options, selectId) {
		var select = document.getElementById(selectId);
		for (var key in options) {			
			select.options[select.options.length] = new Option(options[key], options[key]);
			// jquery append here seems to cause a glitch on MS Edge where the first click on an option after page load does not work
			//if (options[key] != '' && options[key] != null) {
			//	$('#' + selectId).append('<option value="' + options[key] + '">' + options[key] + '</option>');
			//}			
		}
	}
	function moveSelectedOption(selectBoxId1, selectBoxId2) {
		var selBox1 = document.getElementById(selectBoxId1);
		var selBox1Val = selBox1.value;
		if (selBox1Val != '' && selBox1Val != null) {
			// remove select box 1
			for (var i = 0; i < selBox1.length; i++) {
				if (selBox1.options[i].value == selBox1Val)
					selBox1.remove(i);
			}
			// add to select box 2
			var selBox2 = document.getElementById(selectBoxId2);
			selBox2.options[selBox2.options.length] = new Option(selBox1Val, selBox1Val, false, false);

			// store the latest leftSelect options
			leftSelectOptions = [];
			$('#leftSelect option').each(function() {
				leftSelectOptions.push($(this).val())
			});
			localStorage.setItem("leftSelectOptions", JSON.stringify(leftSelectOptions));
			
			// store the latest rightSelect options
			rightSelectOptions = [];
			$('#rightSelect option').each(function() {
				rightSelectOptions.push($(this).val())
			});
			localStorage.setItem("rightSelectOptions", JSON.stringify(rightSelectOptions));
		}
	}
	function submit() {
		jQuery.ajaxSettings.traditional = true;
		$.get( "/Default/Submitted/", { "options": rightSelectOptions } )
		.done(function( data ) {
			$('#result').val(data);
		});
	}
</script>
<br />
<table>
	<tr>
		<td>
			<select multiple id="leftSelect" style="width:100px;height:150px;"></select>

		</td>
		<td style="padding: 10px;">
			<button onclick="moveSelectedOption('leftSelect', 'rightSelect')"> &gt;&gt; </button>
			<br />
			<button onclick="moveSelectedOption('rightSelect', 'leftSelect')"> &lt;&lt; </button>
		</td>
		<td>
			<select multiple id="rightSelect" style="width:100px;height:150px;"></select>
		</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:center;padding:15px;">
			<button onclick="submit()"> Submit </button>
		</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:center;padding:15px;">
			<input type="text" id="result"/>
		</td>
	</tr>


</table>
